<!-- <hr>
<div class="container bg-light text-info my-2" *ngFor="let p of products"><div class="row"> <p class="col-6" >{{p.title}}</p>
    <div class="col-6"><button class="btn btn-danger" (click)="removeTask(p.id)" >remove</button></div></div>
</div> -->
<div class="container bg-warning text-light my-1">
    <div class="row" ><nav></nav></div>
    </div>
  <hr>
<div class="container bg-light  my-2" ><div class="row"> <p class="col-4" >title:{{productdtl?.title}}</p>
    <p class="col-4" >description: {{productdtl?.description}}</p>
    <p class="col-4" > price:
        {{productdtl?.price}}$</p>
    <div class="col-6"></div></div>
</div>
<hr>
<p>{{productdata?.id}}</p>
<!-- <product-card [productdata]="productdtl"> -->

<!-- </product-card> -->