<p class="ms-3 bg-warning text-light py-3 ps-1">header-container works!</p>
<div class="container bg-dark text-light my-2">
<div class="row"><header></header></div>

</div>
<div class="container bg-warning text-light my-1">
<div class="row" ><nav></nav></div>
</div>
<div class="container my-4 ">
    <div class="row">
        <div class="col-6 bg-light mx-2"><home></home></div>
        <div class="col-4 bg-dark text-light"><aside ></aside></div>

    </div>
</div>

<div class="my-3 bg-dark text-light py-3 ps-1"><footer></footer></div>

